body {
    font-family: Arial, sans-serif;
    background-color: 	#2a386d;
}

.titulo{

    color: #fff; 
    padding: 4vh; /* Adiciona um espaçamento interno para não colar no canto */
    position: relative;
    display: flex;
    justify-content:right;
    right: 21vh;
}

#areas_container {
    background-color: #f68046;
    border-radius: 4vh;
    width: 53vh; /* Define a largura */
    height: 55vh; /* Define a altura */
    position: relative;
    left: 135vh;
    text-align: center;
}

nav{

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Empurra o texto para baixo */
    height: 47vh; /* Defina uma altura para a div */
    right: -5vh;
    margin-top: -16vh;
    
}

p{
    color: black; 
    padding: 4vh; /* Adiciona um espaçamento interno para não colar no canto */
    position: relative;
    display: flex;
    justify-content:right;
    right: 25vh;

}

button {

    background-color: #fff;
    color: rgb(4, 10, 97);
    border: none;
    padding: 5vh 10vh;
    margin: 1vh;
    cursor: pointer;
    border-radius: 3vh;
    width: 40vh; /* Define a largura */
    height: 12vh; /* Define a altura */
}

button:hover {

    background-color: #e65c00;
}

.login-estudante {

    background-color: #f68046;
    padding: 20vh;
    margin: 80vh auto;
    width: 100vh;
    border-radius: 7vh;
    height: 50vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
}

input, select {
    padding: 8px;
    margin: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 60vh;
    height: 8vh;
    right: 25vh;
}

.login-biblioteca {

    background-color: #f68046;
    padding: 20vh;
    margin: 80vh auto;
    width: 100vh;
    border-radius: 7vh;
    height: 50vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
}

.login-cadastrar {

    background-color: #f68046;
    padding: 20vh;
    margin: 80vh auto;
    width: 100vh;
    border-radius: 7vh;
    height: 50vh;
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
}