body {
    font-family: Arial, sans-serif;
    background-color: 	#2a386d;
    margin: 0;
    padding: 0;
}

#titulo{
    color: #fff; 
    padding: 25px; /* Adiciona um espaçamento interno para não colar no canto */
    position: relative;
    display: flex;
    justify-content:right;
    right: 130px;
}


#areas_container {
    background-color: #f68046;
    padding: 20px;
    margin-top: 60px;
    border-radius: 20px;
    width: 335px; /* Define a largura */
    height: 325px; /* Define a altura */
    position: relative;
    display:flex;
    justify-content:right;
    left: 950px;
    text-align: center;
}

nav{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Empurra o texto para baixo */
    height: 250px; /* Defina uma altura para a div */
    right: 40px;
}

p{
    color: black; 
    padding: 25px; /* Adiciona um espaçamento interno para não colar no canto */
    position: relative;
    display: flex;
    justify-content:right;
    right: 120px;

}
button {
    background-color: #fff;
    color: rgb(4, 10, 97);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 18px;
    width: 270px; /* Define a largura */
    height: 65px; /* Define a altura */
}

button:hover {
    background-color: #e65c00;
}

.login-form {
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 10px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#area-aluno, #area-bibliotecario {
    display: none;
    padding: 20px;
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}


